.pizza-item {
  display: inline-block;
  width: 250px;
  height: 500px;
}

.pizza-description {
  background-color: #ed2929;
  width: 250px;
  height: 200px;
}

.pizza-price {
  text-align: right;
}

.add-remove {
  text-align: center;
  width: 250px;
  height: 100px;
}
