.pizza-item {
  display: inline-block;
  width: 250px;
  height: 400px;
}

.pizza-description {
  background-color: #ed2929;
}

.pizza-price {
  text-align: right;
}

.add-remove {
  text-align: center;
}
